// Front-end styles.

.wp-block-ashar-irfan-giphy-block {

	&.right {
		text-align: right;

		img {
			margin: 0 0 0 auto;
		}
	}

	&.center {
		text-align: center;

		img {
			margin: 0 auto;
		}
	}

	&.left {
		text-align: left;

		img {
			margin: 0 auto 0 0;
		}
	}
}
